body {
    background-image: url("background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    background-origin: content-box;
    background-color: white;
    border: 0px solid #fafffb;
    border-bottom-style: dotted;
    cursor: crosshair;
}


@keyframes example {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    75%  {background-color: green; left:0px; top:200px;}
    100% {background-color: #00fff4; left:0px; top:0px;}
}

div {
    width: 100%;
    height: 125px;
    background-color: #ffd600;
    animation-name: example;
    animation-duration: 3s;

}

p{    margin: 5px 5px 5px 5px;
    border: 1px #33ff23;
    letter-spacing: 2px;
    hanging-punctuation: first;
    line-break: auto;
    tab-size: 3px;
    text-align: left;
    text-align-last: start;
    text-combine-upright: none;
    text-indent: each-line;
    text-justify: none;
    text-transform: capitalize;
    white-space: nowrap;
    -ms-word-break: break-all;
    word-break: break-all;
    word-spacing: inherit;
    word-wrap: break-word;
}
h1 {color:white; background-color:rgba(255, 255, 255, 0.25); border: 1px solid black;}
h2 {color:white;}
h3 {color:white;}
h4 {color:white;}
h5 {color:white;}
h6 {color:white;}
q {color:yellow;}
s {color:blue;}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: greenyellow;
}

