body {
    background-image: url("background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    background-origin: content-box;
    background-color: white;
    border: 0px solid #fafffb;
    border-bottom-style: dotted;
    cursor: crosshair;
}


@keyframes example {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    75%  {background-color: green; left:0px; top:200px;}
    100% {background-color: #00fff4; left:0px; top:0px;}
}

div {
    width: 100%;
    height: 125px;
    background-color: #ffd600;
    animation-name: example;
    animation-duration: 3s;

}