body {
    background-image: url("background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    background-origin: content-box;
    background-color: white;
    border: 0px solid #fafffb;
    border-bottom-style: dotted;
    cursor: crosshair;
}


@keyframes example {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    75%  {background-color: green; left:0px; top:200px;}
    100% {background-color: #00fff4; left:0px; top:0px;}
}

div {
    width: 100%;
    height: 125px;
    background-color: #ffd600;
    animation-name: example;
    animation-duration: 3s;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-height: inherit;
    max-width: inherit;
    min-width: inherit;
    min-height: inherit;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    z-index: inherit;
    align-content: inherit;
    align-items: inherit;
    flex: inherit;
    flex-basis: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
    line-height: inherit;
    overflow-wrap: break-word;
    text-decoration: none;
    text-shadow: #50a7ff;
    font-variant: inherit;
    text-overflow: clip;
    list-style: none;
    box-sizing: inherit;
    border-image,
    border-color,
    border-image,
    border-image-outset,
    border-image-repeat,
    border-image-slice,
    border-left-style,
    border-left-width,
    border-right-style,
    border-right-width,
    border-top-style,
    border-top-width,
    display,
    overflow-x,
    overflow-y,
    visibility,
    text-decoration-color,
    font-feature-settings,
    font-kerning,
    font-size-adjust

}

p{    margin: 5px 5px 5px 5px;
    border: 1px #33ff23;
    letter-spacing: 2px;
    hanging-punctuation: first;
    line-break: auto;
    tab-size: 3px;
    text-align: left;
    text-align-last: start;
    text-combine-upright: none;
    text-indent: each-line;
    text-justify: none;
    text-transform: capitalize;
    white-space: nowrap;
    -ms-word-break: break-all;
    word-break: break-all;
    word-spacing: inherit;
    word-wrap: break-word;
    background-attachment: inherit;

}
h1 {color:white; background-color:rgba(255, 255, 255, 0.25); border: 1px solid black;}
h2 {color:white;}
h3 {
    color:white;
    font-weight: 200;
    font: 100;
    font-size: medium;
    font-stretch: condensed;
    font-style: inherit;
    font-variant: inherit;
}
h4 {color:white;}
h5 {color:white;}
h6 {color:white;}
q {color:yellow;}
s {color:blue;}

#table {
    background-clip: border-box;
    border-style: solid;
    border-radius: 2px;
    border-top: double;
    border-width: 6px;
    border-top-color: cadetblue;
    border-bottom: thick;
    border-bottom-color: #50a7ff;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 2em;
    border-bottom-style: double;
    border-left: ridge;
    border-left-color: #daff16;
    border-right: ridge;
    border-right-color: #daff16;
    box-decoration-break: clone;
    box-shadow: 0 0 15px #ffff6f;
    border-collapse: collapse;
    caption-side: bottom;
    cursor: col-resize;
    direction,
    list-style-image,
    list-style-position,
    column-count,column-fill,
    column-gap,column-rule,
    column-rule-color,
    column-rule-style,
    column-rule-width,
    quotes,
    opacity,
    border-image-source,
    border-image-width,
    clear,
    vertical-align,
    unicode-bidi,
    border-spacing,
    empty-cells,
    table-layout,
    counter-increment,
    counter-reset,
    list-style-type,
    perspective,
    perspective-origin,
    transform-origin,
    transform-style,
    transition,
    outline,
    outline-color,
    outline-offset,
    outline-style,
    outline-width,
    break-after,
    break-before,
    break-inside,
    page-break-after,
    page-break-before,
    page-break-inside,
    filter,
    mask,
    track,
    rest,
    param,
    border-bottom-width,
}

